<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../styles/views/book-restauration.css">
        <link rel="stylesheet" href="../../styles/style.css">
        <script src="../../scripts/gsap/minified/gsap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/Draggable.min.js"></script> 
        <title>Book Restauration</title>
    </head>
    
    <body>
        <section id="view-book-restauration" class="viewSection">

            <header>
                <!-- <button id="back-to-library" class="nav-button">Back to Library</button>
                <button id="back-to-library" class="nav-button">Back to Library</button> -->
                <img src="../../public/images/ui/back-button.svg" alt="" class="back-button">
                <img src="../../public/images/ui/x-button.svg" alt="" class="close-button">
            </header>

            <div class="interactive-scene">
                <div class="gems-list"></div>
                <div class="game-book"></div>
                <div class="gems-list"></div>
            </div>
            
        </section>

        <div class="popup" id="popup">
            <div class="overlay"></div>
            <div class="popup-content">

                <button type="button" class="close-btn">
                    <img src='../../public/images/Croix.svg'>
                </button>

                <div class="image">
                    <img id="popup-image" src='../../public/images/pierre-1.png' alt="">
                </div>
                <h2 id="popup-name">
                Saphir
                </h2>
                <h3>
                    Le saviez-vous ?
                </h3>
                <p id="popup-text">
                    Ces pierres bleues, dîtes saphirs (sauf celle en haut à droite qui est une cordiérite, intaille antique sculptée, mais posée à l’envers). Ces saphirs proviennent d’Inde ou de Ceylan (Sri Lanka).
                </p>
            </div>
        </div>

        <section class="ending-screen"> 

                <div class="ending-congrats">
                    <h1 class="ending-title">Félicitations !</h1>
                    <p class="ending-text">Vous êtes parvenu à reconstituer la reliure.</p>
                </div>

                <img class="ending-reliure" src="../../public\images\game\book-front-shadow.png" alt="reliure_ending-scene">

            <img class="ending-glow ending_glow-1" src="../../public\images\game\glow.png" alt="glow">
            <img class="ending-glow ending_glow-2" src="../../public\images\game\glow.png" alt="glow">
            <img class="ending-glow ending_glow-3" src="../../public\images\game\glow.png" alt="glow">
            <img class="ending-bg" src="../../public\images\game\background-table-book.png" alt="">

            <div class=" ending-link">
                <p class="ending-link-text">Observez la reliure en détails</p>
                <img class="ending-link-fingerprint" src="../../public\images\ui\Empreinte.png" alt="">
            </div>

        </section>
    </body>

<script src="../../scripts/views/book-restauration.js"></script>
</html>