<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/views/book-restauration.css">
    <link rel="stylesheet" href="../../styles/style.css">
    <script src="../../scripts/gsap/minified/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/Draggable.min.js"></script> 
    <title>Book Restauration</title>
</head>
<body>
    <section id="view-book-restauration" class="viewSection">

        <header>
            <!-- <button id="back-to-library" class="nav-button">Back to Library</button>
            <button id="back-to-library" class="nav-button">Back to Library</button> -->
            <img src="../../public/images/ui/back-button.svg" alt="" class="back-button">
            <img src="../../public/images/ui/x-button.svg" alt="" class="close-button">
        </header>
        
        <div class="interactive-scene">
            <div class="gems-list"></div>
            <div class="game-book"></div>
            <div class="gems-list"></div>
        </div>
    </section>
    <div class="popup" id="popup">
        <div class="overlay"></div>
        <div class="popup-content">
            
            <button type="button" class="close-btn">
              <img src='../../public/images/Croix.svg'>
            </button>

            <div class="image">
              <img src='../../public/images/pierre-1.png' alt="">
            </div>
            <h2>
              Saphir
            </h2>
            <h3>Le saviez-vous ?</h3>
            <p>Ces pierres bleues, dîtes saphirs (sauf celle en haut à droite qui est une cordiérite, intaille antique sculptée, mais posée à l’envers). Ces saphirs proviennent d’Inde ou de Ceylan (Sri Lanka).</p>
        </div>
    </div>
</body>

<script src="../../scripts/views/book-restauration.js"></script>
</html>