<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>brush</title>
    <link rel="stylesheet" href="/styles/views/brush.css">
</head>
<body>
  <!--<p id="text"></p>
  <script type="module">
    import data from 'public/data/brush.json' assert { type: 'json' };
    console.log(data.texte);
  </script>-->

  <p>Ce manuscrit devient la propriété du roi de France Louis IX, connu sous le nom de Saint Louis, qui régna de 1226 à 1270. Les tranches du manuscrit sont alors peintes de fleurs de lys (emblème des rois de France) et des tours de Castille (emblème de la mère du roi, Blanche de Castille).
Le plat en or portant le Christ sur la croix créé vers 1260-1270 a peut-être été commandé par Saint Louis.
<br><span>Appuyez sur le pinceau pour découvrir la tranche.</span></p>
            
            

   <div class="book-area">
    <!-- tranche 1 -->
    <img src="/public/images/Etape1_Tranche.png" alt="Tranche du livre" class="tranche base">
    <!-- tranche 2 -->
    <img src="/public/images/Etape2_Tranche.png" alt="Tranche révélée" class="tranche reveal" id="revealImage">
    <img src="/public/images/pinceau 2.png" alt="Pinceau" class="brush" id="brush">
  </div>
  <script src="/scripts/brush.js"></script>
</body>
</html>