<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>brush</title>
    <link rel="stylesheet" href="/styles/views/brush.css">
</head>
<body>
   <div class="book-area">
    <!-- tranche 1 -->
    <img src="/public/images/Etape1_Tranche.png" alt="Tranche du livre" class="tranche base">
    <!-- tranche 2 -->
    <img src="/public/images/Etape2_Tranche.png" alt="Tranche révélée" class="tranche reveal" id="revealImage">
    <img src="/public/images/pinceau 2.png" alt="Pinceau" class="brush" id="brush">
  </div>
  <script src="/"></script>
</body>
</html>