@import url('../reset.css');

#view-book-restauration {
    width: 100svw;
    height: 100svh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../../public/images/game/background-table-book.png');
    background-color: black;
    background-position: center center;
    background-size: cover;
}

.interactive-scene {
    display: flex;
}

.gems-list {
    width: 20vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.game-book {
    /* width: 800px;
    height: 1000px; */
    width: 70vmin;
    height: 90vmin;

    /* background-color: gold; */
    background-image: url('../../public/images/game/book-front-shadow.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.gemContent {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    display: flex;

    & .xButton {
        width: 40px;
        position: absolute;
        top: 0;
        right: 0;
    }

    & .gem {
        width: auto;
        height: 100%;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    

    & .gem-ghost  {
        filter: grayscale(1);
    }
}





*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
   
.popup {
    position:fixed;
    top:-100vh;
    left:0px;
    width: 100%;
    height: 100%;
    transition: top 0ms ease-in-out 300ms;  
}

.popup .overlay {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: opacity 100ms ease-in-out 200ms;
}

.popup .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.15) ;
    width:95%;
    max-width: 350px;
    background-color: rgba(0,0,0,0.8);
    padding: 25px;
    border-radius: 20px;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.restauration__draggable{
    display: flex;
    justify-content: center;

}

.restauration__drop{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 80%;
}

.draggable{
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    background-color: rgb(50, 160, 255);
}

.drop__box{
    width: 10rem;
    height: 10rem;
    background-color: black;
}


.popup .popup-content h2 {
    margin:10px 0px;
    font-size: 40px;
    color:rgb(255, 179, 0);
    text-align: center;
}

.popup .popup-content h3 {
    margin:10px 0px;
    font-size: 13px;
    font-style: italic;
    color:white;
    text-align: center;
}

.popup .popup-content p {
    margin:15px 0px;
    font-size: 17px;
    color:white;
    text-align: center;
}

.popup .popup-content .controls {
    margin:0px 0px;
    font-size: 17px;
    color:white;
    text-align: end;
}

.popup .popup-content .controls button {
    cursor: pointer;
    background: none;
    border: none;
}

.close-btn img {
    width: 70%;
}

.image img {
    display: block;
    margin: auto;
    width: 80%;
}

.popup.active {
    top:0px;
    transition: top 0ms ease-in-out 0ms;
}

.popup.active .overlay {
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.restauration__draggable{
    display: flex;
    justify-content: center;

}

.restauration__drop{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 80%;
}

.draggable{
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    background-color: rgb(50, 160, 255);
}

.drop__box{
    width: 10rem;
    height: 10rem;
    background-color: black;
}



.popup.active .popup-content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}



