@import url('../reset.css');

@font-face {
    font-family: 'Injurial';
    src: url('../../public/fonts/Injurial/205TF-Injurial-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Injurial-ttf';
    src: url('../../public/fonts/Injurial/205TF-Injurial-Regular.ttf') format('opentype');
}


@font-face {
    font-family: 'VelinoText-Thin';
    src: url('../../public/fonts/VELINO Text/VelinoText-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'VelinoText-ThinItalic';
    src: url('../../public/fonts/VELINO Text/VelinoText-ThinItalic.otf') format('opentype');
}


#view-book-restauration {
    width: 100svw;
    height: 100svh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../../public/images/game/background-table-book.png');
    background-color: black;
    background-position: center center;
    background-size: cover;

    & header {
        display: flex;
        position: fixed;
        top: 0;
        
        width: 100%;
        padding: 20px;
        justify-content: space-between;

        z-index: 10;
    }
}

.interactive-scene {
    display: flex;
}

.gems-list {
    width: 20vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.game-book {
    /* width: 800px;
    height: 1000px; */
    width: 70vmin;
    height: 90vmin;
    position: relative;

    /* background-color: gold; */
    background-image: url('../../public/images/game/book-front-shadow.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    & .droppable-zone {
        position: absolute;
        width: 8vmin;
        height: 8vmin;
        border: 2px dashed rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        /* background-color: rgba(255, 255, 255, 0.2); */
        /* pointer-events: none; */
    }
}

.gemContent {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    display: flex;

    & .infoButton {
        width: 40px;
        position: absolute;
        top: 0;
        right: 0;
    }

    & .gem {
        width: auto;
        height: 100%;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    

    & .gem-ghost  {
        filter: grayscale(1);
    }
}





*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: "VelinoText-Thin";
}

h2{
    color: rgb(255, 179, 0);
    font-family:"Injurial";
    
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
   
.popup {
    position:fixed;
    top:-100vh;
    left:0px;
    width: 100%;
    height: 100%;
    transition: top 0ms ease-in-out 300ms;  
}

.popup .overlay {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: opacity 100ms ease-in-out 200ms;
}

.popup .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.15) ;
    max-width:440px;
    width:90%;
    background-color: rgba(0,0,0,0.8);
    padding: 25px;
    border-radius: 20px;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.restauration__draggable{
    border: solid 2px black;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;

}

.restauration__drop{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 80%;
}

.gem-draggable{
    cursor: pointer;
}

.drop__box{
    width: 10rem;
    height: 10rem;
    background-color: black;
}


.popup .popup-content h2 {
    margin:10px 0px;
    font-size: 40px;
    font-family:"Injurial";
    color:rgb(255, 179, 0);
    text-align: center;
}

.popup .popup-content h3 {
    margin:10px 0px;
    font-size: 13px;
    font-family: 'VelinoText-ThinItalic';
    color:white;
    text-align: center;
}

.popup .popup-content p {
    margin:15px 20px 15px 0;
    font-size: 14px;
    color:white;
    text-align: center;
    line-height: 1.5;
}


.close-btn {
    position: absolute;
    top:18px;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
}

.close-btn img {
    width: 70%;
}

.image {
    position: relative;
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background: radial-gradient(circle, rgba(236, 169, 0, 1) 0%, transparent 60%);
    z-index: 0;
    border-radius: 50%;
    filter: blur(20px);
    animation: haloPulse 2s ease-in-out infinite;
}

.image img {
    position: relative;
    width: 100px;
    z-index: 1;
    display: block;
}

@keyframes haloPulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.15);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }
}

.popup.active {
    top:0px;
    transition: top 0ms ease-in-out 0ms;
}

.popup.active .overlay {
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.restauration__draggable{
    display: flex;
    justify-content: center;

}

.restauration__drop{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 80%;
}

.draggable{
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    background-color: rgb(50, 160, 255);
}



.drop__box{
    width: 10rem;
    height: 10rem;
    background-color: black;
}



.popup.active .popup-content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

