

#zoom-book-end {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
    background-image: url(../../public/images/fond.png);
}

#zoom-book-end-container {
  overflow: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: safe center;
}

#zoom-book-end-image {
  width: 40vw;
  touch-action: manipulation;
  user-select: none;
}

#zoom-book-end-buttons {
  display: flex;
  bottom: 5%;
  right: 5%;

  position: fixed;
}

#zoom-book-end-zoom-in-button,
#zoom-book-end-zoom-out-button {
  width: 100px;
  height: 100px;
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
}

#zoom-book-end-plus-button:hover,
#zoom-book-end-less-button:hover {
  background-color: red;
}


#zoom-book-end-preview{

    width:360px;
    height:300px;
    z-index:10;
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    top:5%;
    right:2%;
    border:5% solid black;
    background-color: rgba(255, 0, 0, 0.497);
}

#zoom-book-end-preview img{
    width:80%;
    height:90%;
    object-fit: contain;
}

#zoom-book-end-preview span{
transform-origin: center;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
z-index:105;
border:5px white solid;
width:100%;
height:100%;
}

