

#zoom-book-end{
    background-image: url(../../public/images/fond.png);

}

#zoom-book-end{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}


#zoom-book-end-container{
   width: 1536px;
   height: 864px;
   margin: auto;
   overflow-x: scroll;
   overflow-y: scroll;
   scrollbar-width: none;
}

#zoom-book-end-container img{
    width: 200%;
    object-fit: cover;
    overflow: hidden;
    touch-action: manipulation ;



}

h1{
    color: white;
    font-size: 0.001px;
    touch-action: pan-x pan-y pinch-zoom;
  
}

#zoom-book-end-preview{
    position:absolute;
    top:5%;
    right:2%;
    border:5% solid black;
    background-color: rgba(0, 0, 0, 0.497);
    border-radius:20px;
}

#zoom-book-end-preview span{
border:5px white solid;
padding:20px 40px;
}

/* #zoom-book-end-container img:active{
 transform:scale(2);
 transition:transform 1s ease-in-out;
} */
