

#zoom-book-end{
    background-image: url(../../public/images/fond.png);

}

#zoom-book-end{
    width: 100%;
    height: 100vh;
    display: flex;
}


#zoom-book-end-container{

   width: 80%;
   height: 80%;
    margin: auto;
   overflow: hidden;
   overflow-x: scroll;
   overflow-y: scroll;
   scrollbar-width: none;
}

#zoom-book-end-container img{
    width: 200%;
    overflow: hidden;
    touch-action: manipulation ;



}

h1{
    color: white;
    font-size: 0.001px;
}

