.texte{
    color: white;
    font-size: 57px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 900px;
    margin-left: 110px;
    padding: 15px;
    display: flex

 }

 span{
    color: #ECA900;
    display: block;
    margin-top: 10px;
 }

 @font-face {
    font-family: 'VelinoText-Medium';
    src: url(/public/fonts/VelinoText-Medium.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
 }

 body {
  font-family: 'Velino Text Medium',serif;
  background-color: #252525;
}


